<a href="https://colab.research.google.com/github/Farwakhan971/A.I-Lab/blob/main/Fake_news_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Farwa khan

FA20-BSE-043

In [ ]:
import numpy as np
import pandas as pd
#The functions in this module let you check if a particular string matches a given regular expression (or if a given regular expression matches a particular 
#string, which comes down to the same thing)
import re
import nltk
from nltk.corpus import stopwords
#PorterStemmer is a type of stemmer which is mainly known for Data Mining and Information Retrieval.
from nltk.stem.porter import PorterStemmer
#Extract features in a format supported by machine learning algorithms from datasets consisting of formats such as text.
from sklearn.feature_extraction.text import TfidfVectorizer=
#The train_test_split function of the sklearn. model_selection package in Python splits arrays or matrices into random subsets for train and test data, 
#respectively.
from sklearn.model_selection import train_test_split
#Mounting Google drive in Google colaboratory
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#stopwords are those words which are repeating again and again in paragraphs the need to install stopwords is to remove these repeating words from the
# paragraphs
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Fake news dataset/Fake News Dataset.csv', encoding= 'unicode_escape')

In [ ]:
data.head(6)

,id,title,author,text,label
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0

0 label---> Real News

1 label---> Fake News

In [ ]:
data.dtypes

id         int64
title     object
author    object
text      object
label      int64
dtype: object

In [ ]:
data.describe()

NameError: ignored

In [ ]:
data.shape   #Number of rows and colums

(20800, 5)

In [ ]:
data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [ ]:
data = data.fillna('')

In [ ]:
data['content']=data['title']+' '+data['author']

In [ ]:
data.head(6)

,id,title,author,text,label,content
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1,House Dem Aide: We Didnât Even See Comeyâs...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Consortiumne...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0,Jackie Mason: Hollywood Would Love Trump if He...

In [ ]:
x = data.drop(columns='label', axis=1)
y= data['label']
print(x)

          id                                              title  \
0          0  House Dem Aide: We Didnât Even See Comeyâs...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795  20795  Rapper T.I.: Trump a âPoster Child For White...
20796  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  Macyâs Is Said to Receive Takeover Approach ...
20798  20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
20795                              Jerome Hudson
20796                           Benjamin Hoffman
20797  Michael J. de la Merced and Rachel Abrams
20798                                Alex Ansary
20799                              David Swanson

                                                    text  \
0      House Dem Aide: We Didnât Even See Comeyâs...
1      Ever get the feeling your life circles the rou...
2      Why the Truth Might Get You Fired October 29, ...
3      Videos 15 Civilians Killed In Single US Airstr...
4      Print \nAn Iranian woman has been sentenced to...
...                                                  ...
20795  Rapper T. I. unloaded on black celebrities who...
20796  When the Green Bay Packers lost to the Washing...
20797  The Macyâs of today grew from the union of s...
20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799    David Swanson is an author, activist, journa...

                                                 content
0      House Dem Aide: We Didnât Even See Comeyâs...
1      FLYNN: Hillary Clinton, Big Woman on Campus - ...
2      Why the Truth Might Get You Fired Consortiumne...
3      15 Civilians Killed In Single US Airstrike Hav...
4      Iranian woman jailed for fictional unpublished...
...                                                  ...
20795  Rapper T.I.: Trump a âPoster Child For White...
20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  Macyâs Is Said to Receive Takeover Approach ...
20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799            What Keeps the F-35 Alive David Swanson

[20800 rows x 5 columns]

In [ ]:
print(y)

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

In [ ]:
#stemming is the process of reducing word to its root word such as enjoying and enjoyable is reduced to enjoy
port_stem = PorterStemmer()

In [ ]:
def stemming(content):
  stemmed_content = re.sub('[^a-zA-Z]', '',content)
# Here [^a-zA-Z] meaning reading data in content column from a to z either in uppercase or lowercase, it will remove all
#the commas and punctaution marks
  stemmed_content = stemmed_content.lower()
  stemmed_content = stemmed_content.split()
  stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
  stemmed_content = ' '.join(stemmed_content)
  return stemmed_content

In [ ]:
data['content']=data['content'].apply(str)
data['content']=data['content'].apply(stemming)

In [ ]:
print(data['content'])

0        housedemaidewedidntevenseecomeysletteruntiljas...
1        flynnhillaryclintonbigwomanoncampusbreitbartda...
2             whythetruthmightgetyoufiredconsortiumnewscom
3        civilianskilledinsingleusairstrikehavebeeniden...
4        iranianwomanjailedforfictionalunpublishedstory...
                               ...
20795    rappertitrumpaposterchildforwhitesupremacyjero...
20796    nflplayoffsschedulematchupsandoddsthenewyorkti...
20797    macysissaidtoreceivetakeoverapproachbyhudsonsb...
20798    natorussiatoholdparallelexercisesinbalkansalex...
20799                       whatkeepsthefalivedavidswanson
Name: content, Length: 20800, dtype: object

In [ ]:
x= data['content'].values
y= data['label'].values

In [ ]:
print(x)

['housedemaidewedidntevenseecomeysletteruntiljasonchaffetztweeteditdarrelllucu'
 'flynnhillaryclintonbigwomanoncampusbreitbartdanieljflynn'
 'whythetruthmightgetyoufiredconsortiumnewscom' ...
 'macysissaidtoreceivetakeoverapproachbyhudsonsbaythenewyorktimesmichaeljdelamercedandrachelabram'
 'natorussiatoholdparallelexercisesinbalkansalexansari'
 'whatkeepsthefalivedavidswanson']

In [ ]:
print(y)

[1 0 1 ... 0 1 1]

In [ ]:
y.shape

(20800,)

In [ ]:
vectorizer = TfidfVectorizer()
vectorizer.fit(x)
x = vectorizer.transform(x)

In [ ]:
print(x)

  (0, 7608)	1.0
  (1, 6051)	1.0
  (2, 19561)	1.0
  (3, 3006)	1.0
  (4, 8531)	1.0
  (5, 8931)	1.0
  (6, 9877)	1.0
  (7, 1626)	1.0
  (8, 5424)	1.0
  (9, 3)	1.0
  (10, 11917)	1.0
  (11, 1563)	1.0
  (12, 14249)	1.0
  (13, 18357)	1.0
  (14, 13936)	1.0
  (15, 8315)	1.0
  (16, 19034)	1.0
  (17, 809)	1.0
  (18, 5722)	1.0
  (19, 2977)	1.0
  (20, 11390)	1.0
  (21, 10870)	1.0
  (22, 14047)	1.0
  (23, 10339)	1.0
  (24, 37)	1.0
  :	:
  (20775, 7800)	1.0
  (20776, 17273)	1.0
  (20777, 5054)	1.0
  (20778, 16744)	1.0
  (20779, 2952)	1.0
  (20780, 6044)	1.0
  (20781, 16886)	1.0
  (20782, 16134)	1.0
  (20783, 14369)	1.0
  (20784, 3636)	1.0
  (20785, 781)	1.0
  (20786, 6852)	1.0
  (20787, 14355)	1.0
  (20788, 10153)	1.0
  (20789, 14678)	1.0
  (20790, 11516)	1.0
  (20791, 9695)	1.0
  (20792, 8938)	1.0
  (20793, 8038)	1.0
  (20794, 17503)	1.0
  (20795, 13349)	1.0
  (20796, 11481)	1.0
  (20797, 10109)	1.0
  (20798, 11178)	1.0
  (20799, 19187)	1.0